RewriteEngine On
RewriteBase /
RewriteRule ^([0-9a-zA-Z-_/]+)$ index.php [QSA]
RewriteRule sitemap.xml sitemap.php [QSA]

#RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]